.x-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /*   对浏览器全面覆盖的  不用加width height           */
  background-color: rgba(0, 0, 0, 0.6);
}
.x-actionsheet {
  position: fixed;
  z-index: 5000;
  left: 0;
  bottom: 0;
  width: 100%;
  /* 相对于浏览器窗口的 对底部覆盖起来  高度自适应       */
  background-color: #EFEFF4;
}
.x-actionsheet .x-actionsheet__title {
  padding: 0 20px;
  height: 65px;
  line-height: 1.4;
  font-size: 14px;
  color: #888;
  background: #FCFCFD;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.x-actionsheet .x-actionsheet__title:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #c7c7c7;
  transform: scaleY(0.5);
  transform-origin: 0 0;
}
.x-actionsheet .x-actionsheet__title .x-actionsheet__title-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.x-actionsheet .x-actionsheet__menu {
  background-color: #FCFCFD;
}
.x-actionsheet .x-actionsheet_action {
  background-color: #FCFCFD;
  margin-top: 6px;
}
.x-actionsheet .x-actionsheet__cell {
  position: relative;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
}
.x-actionsheet .x-actionsheet__cell:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #c7c7c7;
  transform: scaleY(0.5);
  transform-origin: 0 0;
}
.x-actionsheet .x-actionsheet__cell:first-child:before {
  display: none;
}
