.setHalfPixTop(@c:#ccc) {
    content: " ";
    border-top: 1px solid @c;
    transform: scaleY(.5);
    transform-origin: 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.setHalfPixBottom(@c:#ccc) {
    content: " ";
    border-bottom: 1px solid @c;
    transform: scaleY(.5);
    transform-origin: 0 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
}

.clearFloat() { /* better_code */
    zoom: 1;
    &:after {
        display: block;
        clear: both;
        content: "";
        visibility: hidden;
        height: 0;
    }
}

.justifyContentSpaceBetween() {
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;

    justify-content: space-between;
}

.alignItemsCenter() {
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;

    align-items: center;
}

.alignItemsFlexStart() {
    display: flex;
    align-items: flex-start;
}

.ellipsis(@w:auto) { //  copy from weui  better_code
    width: @w;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.flex-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    .flex-row-one {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow: hidden;
        .overflow-ellipsis {
            .ellipsis(100%);
        }
    }
}