.clearFloat() {
    zoom: 1;
    &:after {
        display: block;
        height: 0;
        clear: both;
        font-size: 0;
        content: '';
        visibility: hidden;
    }
}

.overflowEllipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}