.clearFloat() {
    &:after {
        display: block;
        content: "";
        height: 0;
        clear: both;
    }
}

.justifyContentSpaceBetween() {
    display: flex;
    justify-content: space-between;
}

.alignItemsCenter() {
    display: flex;
    align-items: center;
}

.borderTop() {
    position: relative;
    &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        border-top: 1px solid #d7d7d7;
        width: 100%;
        height: 1px;
        transform-origin: 0 100%;
        transform: scaleY(.5);
    }
}

.borderBottom() {
    position: relative;
    &:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid #d7d7d7;
        width: 100%;
        height: 1px;
        transform-origin: 0 100%;
        transform: scaleY(.5);
    }
}

.borderTopBottom() {
    .borderTop();
    .borderBottom();
}

.overflowEllipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex-row {
    display: flex;
    .flex-row-one {
        flex: 1;
        overflow: hidden;
        .overflow-ellipsis {
            width: 100%;
            .overflowEllipsis();
        }
    }
}

* {
    -webkit-tap-highlight-color: transparent;
}