@import "app-common.less";
@import "common-weui.less";

.x-mask {
    .mask();
}

.x-dialog {
    position: fixed;
    z-index: 5000;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 300px; /*   = ======================================  */
    transform: translate(-50%, -50%);
    background-color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;

    .x-dialog__hd {
        padding: 15px;
        color: #333;
    }
    .x-dialog__bd {
        padding: 15px;
        color: #999;
        font-size: 15px;
        line-height: 1.4;
        word-wrap: break-word;
        word-break: break-all;
        text-align: left;
    }
    .x-dialog__ft {
        line-height: 48px;
        font-size: 18px;
        position: relative;
        &:before {
            .setHalfPixTop();
        }
        .x-dialog__btn {
            display: block;
            text-decoration: none;

            position: relative;
            &:after {
                .setHalfPixLeft();
            }
            &:first-child {
                &:after {
                    display: none;
                }
            }

            &:active {
                background-color: #eee;
            }

            &.x-dialog__btn_default {
                color: #353535;
            }
            &.x-dialog__btn_primary {
                color: #0BB20C;
            }
        }
    }
}