.flex-container {
    display: -webkit-flex;
    display: flex;

    width: 400px;
    height: 150px;
    background-color: lightgrey;
}

.flex-item {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: cornflowerblue;
}